---
import "./ArticleCard.scss";
const { author, title, articleIntro, imageSrc, imageAlt } = Astro.props;
import { Image } from "astro:assets";
---

<div class="articleCard">
  <Image src={imageSrc} alt={imageAlt} class="articleCardImage" />
  <div class="innerContentWrapper">
    <p class="authorNameWrapper">By {author}</p>
    <p>{title}</p>
    <p class="articleIntro">
      {articleIntro}
    </p>
  </div>
</div>
