---
import "./ArticleCard.scss";
const { author, title, articleIntro, imageSrc, imageAlt } = Astro.props;
import { Image } from "astro:assets";
---

<a class="articleCard" href="/">
  <Image src={imageSrc} alt={imageAlt} class="articleCardImage" />
  <div class="innerContentWrapper">
    <p class="authorNameWrapper">By {author}</p>
    <p class="title">{title}</p>
    <p class="articleIntro">
      {articleIntro}
    </p>
  </div>
</a>
