---
import "./Footer.scss";
import Button from "../../components/Button/Button.astro";
import FooterImage from "../../images/logo-footer.svg";
import IconFacebook from "../../images/icon-facebook.svg";
import IconYoutube from "../../images/icon-youtube.svg";
import IconTwitter from "../../images/icon-twitter.svg";
import IconPinterest from "../../images/icon-pinterest.svg";
import IconInstagram from "../../images/icon-instagram.svg";
import { Image } from "astro:assets";
---

<footer class="footer">
  <div class="innerWrapper">
    <div class="leftColumnWrapper">
      <div class="imagesWrapper">
        <Image src={FooterImage} alt="Easybank" class="logo" />
        <div class="socialMediaWrapper">
          <Image src={IconFacebook} alt="Facebook" />
          <Image src={IconYoutube} alt="Youtube" />
          <Image src={IconTwitter} alt="Twitter" />
          <Image src={IconPinterest} alt="Pinterest" />
          <Image src={IconInstagram} alt="Instagram" />
        </div>
      </div>
      <div>
        <ul class="linkList">
          <li>
            <a class="link">Home</a>
          </li>
          <li>
            <a class="link">About</a>
          </li>
          <li>
            <a class="link">Contact</a>
          </li>
        </ul>
      </div>
    </div>

    <div>
      <Button label="Request Invite" className="button" />
      <p class="copyRights">&copy; EasyBank. All Rights Reserved.</p>
    </div>
  </div>
</footer>
